<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <link href="./design.css" rel="stylesheet">
</head>
<body>
<h1>CRC Card Generator</h1>
<div class="crcc">
  <div class="crcc-self">
    <div class="crcc-class"><h1>Class</h1>
      <p>View</p>
    </div>
    <div class="crcc-respon"><h1>Responsibility</h1>
      <ol>
        <li>시각적 표현</li>
      </ol>
    </div>
  </div>
  <div class="crcc-collabo"><h1>Collaborators</h1>
    <ol>
      <li>Controller</li>
      <li>Model</li>
    </ol>
  </div>
</div>

<div id="design">
  <div>
    <button type="button" @click="addItem()">추가</button>
  </div>
  <div class="crcc" v-for="item in items">
    <div class="crcc-self">
      <div class="crcc-class">
        <button type="button" @click="removeItem(item)">삭제</button>
        <h1>Class</h1>
        <p @click="toggleMode(item.className)">
          <input type="text"
                 @click.stop
                 @keydown.enter="toggleMode(item.className)"
                 v-if="item.className.modify"
                 v-model="item.className.text">
          <template v-else>{{item.className.text}}</template>
        </p>
      </div>
      <div class="crcc-respon">
        <h1>Responsibility</h1>
        <button type="button" @click="addRespon(item)">추가</button>
        <ol>
          <li v-for="responItem in item.respon"
              @click="toggleMode(responItem)">
            <input type="text"
                   @click.stop
                   @keydown.enter="toggleMode(responItem)"
                   v-if="responItem.modify"
                   v-model="responItem.text">
            <template v-else>{{responItem.text}}</template>
            <button type="button"
                    @click.stop="removeRespon(item, responItem)">
              삭제
            </button>
          </li>
        </ol>
      </div>
    </div>
    <div class="crcc-collabo">
      <h1>Collaborators</h1>
      <button type="button" @click="addCollabo(item)">추가</button>
      <ul>
        <li v-for="collaboItem in item.collabo"
            @click="toggleMode(collaboItem)">
          <input type="text"
                 @click.stop
                 @keydown.enter="toggleMode(collaboItem)"
                 v-if="collaboItem.modify"
                 v-model="collaboItem.text">
          <template v-else>{{collaboItem.text}}</template>
          <button type="button"
                  @click.stop="removeCollabo(item, collaboItem)">
            삭제
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./design.js"></script>
</body>
</html>